@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css';

@import 'nativewind/theme';

:root {
  --bg: #f8fafc;
  --fg: #18181b;
  --card: #f3f4f6;
  --accent-main: #ffa1ad;
  --line-main: #d4d4d8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #18181b;
    --fg: #f8fafc;
    --card: #3f3f46;
    --accent-main: #ff637e;
    --line-main: #3f3f46;
  }
}

@theme inline {
  --color-bg: var(--bg);
  --color-fg: var(--fg);
  --color-card: var(--card);
  --color-accent-main: var(--accent-main);
  --color-line-main: var(--line-main);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
